:root{
    --font-family:Impact, 'Arial Narrow Bold', sans-serif
    --font-size:Medium
    --dark: #e473e4;
}
body{
    background-color: rgb(132, 153, 245);
}
header{
    width:auto;
    display:inline-flexbox;
    color: rgb(207, 48, 212);
    font-family: var(--font-family);
    height: 69px;
    justify-content:end;
    border-radius: 35px;
    padding-bottom: 7px;
}
main{
    display:inline;
    text-align: center;
}
.search-section{
    display: flex;
    flex-direction: column;
}
aside{
    float: left;
}
#location{
    margin-left: 45px;
    width: 330px;
    height: 35px;
    border-radius: 8px;
    border: 5px solid var(--dark);   
}
#search{
    margin-left: 45px;
    width: 330px;
    height: 35px;
    border-radius: 8px;
    border: 5px solid var(--dark);   
}
section{
    flex: 1 1 0;
    float:inherit    
}
#weather{
    background-color: rgb(123, 219, 231);
    height:215px;
    margin: 25px;
    padding: 25px;
}
.weather-location{
    padding: 15px;
    font-size: 35px;
    font-family: var(--font-family);
    font-weight: bold;
    margin-left: 8px;
    color: var(--dark);
}
span{
    padding: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
    font-size: 25px;
},
#imgWeather{
    float: center;
    margin: right 15px;15px;
    margin-top: -45px;
}
.forecastItem{
    display: table;
}
 #search{
    background-color: rgb(138, 206, 55);
    font-family: var(--font-family);
    font-size: 26px;
}
h2{
    margin-left: 20px;
    font-family: var(--font-family);
    color: #ebcb40;
}
hr{
    width:350px;
    border:#f3aff3 1px outset;
    margin-left: 20px;
}
#recentLocations{
    margin-left: 10px;
}
button {
    display: flex;
    flex-direction: column;
    margin: 7px;
    padding: 7px;
    justify-content: center;
    height: 48px;
    width: 100%;
    font-size: 25px;
    background-color: #b0e45d;
    border-radius: 7px;
    border: var(--dark);
    margin-left: 15px;
}
.temperature{
    padding: 7px;
    font-family: var(--font-family);
    color: var(--dark);
    font-size: 15px;
}
.wind{
    padding: 7px;
    font-family: var(--font-family);
    color: var(--dark);
}
.humidity{
    padding: 7px;
    font-family: var(--font-family);
    color: var(--dark);
}
.forecast-temp{
    padding: 7px;
}
.forecast-wind{
    padding: 7px;
}
.forecast-humidity{
    padding: 7px;
}
li{
    float: left;
    padding: 12px;
    background-color: #e9ec3f;
    width: 170px;
    height: 222px;
    margin: 10px;
    border-radius: 18px;
    font-family: var(--font-family);
}
.forecastName{
    font-weight: 100;
    color: var(--dark);
    font-family: var(--font-family);
}